body {
    width: 100%;
    background-color: #fafafa;
}

body .top-content {
    width: 100%;
    position: relative;
}

@media (max-width:425px) {
    .section {
        padding: 20px 10px;
    }
}

.body-content {
    width: 100%;
    margin: 0;
}

.dropdown .dropdown-trigger{
    width: 100%;
}

.dropdown .dropdown-trigger button{
    width: 100%;
}

.dropdown .dropdown-menu{
    width: 100%;
    top: 40px;
    padding: 0;
}

.dropdown .dropdown-menu .dropdown-content .dropdown-item{
    white-space: normal;
}

.dropdown .dropdown-menu .dropdown-content .dropdown-item.is-active{
    cursor: not-allowed;
}

.button-github span {
    margin-right: 10px !important;
}

.base-content .navbar .navbar-menu {
    display: flex !important;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 8px 16px rgb(10 10 10 / 10%);
    padding: .5rem 0;
}

.base-content .navbar .navbar-menu .navbar-start {
    display: flex !important;
    margin: 0;
}

/* Exercicios */
.resolucao-content .code-content {
    padding: 0;
    background-color: transparent;
}
.objetivo-content img {
    width: 80%;
}
.objetivo-content p, .resolucao-content p {
    text-align: justify;
}
.content-button {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (max-width:600px) {
    .resultado-content .img-promp img, .resultado-content .img-result img  {
        max-width: none;
    }
}
